[Unit]
Description=Socket for Stremio Docker App

[Socket]
ListenStream=443
Accept=yes

[Install]
WantedBy=sockets.target

[Service]
# Stop the socket listener before starting the container
ExecStartPre=/bin/sh -c 'systemctl stop stremio.socket'

# Start docker-compose
WorkingDirectory=/home/refa/stremio/
ExecStart=/usr/bin/docker-compose up
ExecStop=/usr/bin/docker-compose down

# Restart the socket after stopping the container
ExecStopPost=/bin/sh -c 'systemctl start stremio.socket'

Restart=always
