[Unit]
Description=Stremio Docker Service
After=network.target
Requires=docker.service
Requires=stremio.socket

[Service]
WorkingDirectory=/home/refa/stremio/

# Disable the socket before starting the container so Docker can bind to port 443
#ExecStartPre=/bin/systemctl stop stremio.socket

# Start Docker container in detached mode
ExecStart=/usr/bin/docker-compose up -d

# Stop the container when the service is stopped
ExecStop=/usr/bin/docker-compose down

# Delete the cache after stopping the container
ExecStopPost=/bin/rm -rf /home/refa/stremio/stremio-server/stremio-cache/*

# Ensure the socket is completely reset before restarting it
#ExecStopPost=/bin/systemctl reset-failed stremio.socket
#ExecStopPost=/bin/systemctl start stremio.socket

# Prevent systemd from restarting the service in a loop
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
